body {
    background-color: black;
    background-image: url("image4.png");
    background-size: 100%;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}

h1 {
    text-align: center;
    margin-top: 30px;
}

#container {
    width: 800px;
    height: 800px; 
    overflow: hidden;
  }

#gallery {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto 50px auto;
}

#gallery img {
    max-width: 90%;
    max-height: 90%;
    margin-top: 10px;
}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.3s, bottom 0.5s;
    z-index: 1;
}

#scrollToTopBtn img {
    filter: invert(1);
    width: 70px; /* Задаем ширину изображения */
    height: auto; /* Автоматическая высота */
}

#scrollToTopBtn:hover {
    transform: rotate(90deg); /* Поворачиваем на 90 градусов при наведении */
}

.crop-container {
    display:flex;
    align-items:center;
    justify-content: center;
}
.crop-container img {
    margin-top: 4%;
    width: 800px;
}
